<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Samuele Bortolotti">

  <link rel="stylesheet" type="text/css" href="{{ "assets/css/benchmark_style.css" | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ "assets/images/favicon.ico" | relative_url }}"/>

  <!-- MathJAX JS for rendering formulas -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script type="text/javascript" src="{{ "assets/mathjax/mathjax_config.js" | relative_url }}"></script>  


  {%- seo -%}

</head>
