<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Samuele Bortolotti">

  <link rel="stylesheet" type="text/css" href="{{ "assets/css/benchmark_style.css" | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ "assets/images/favicon.ico" | relative_url }}"/>

  <!-- MathJAX JS for rendering formulas -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script type="text/javascript" src="{{ "assets/mathjax/mathjax_config.js" | relative_url }}"></script>  

  <!-- Change to dark theme -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const themeToggleButton = document.getElementById('theme-toggle');
      const themeIcon = document.getElementById('theme-icon');
      const currentTheme = localStorage.getItem('theme');
      const isDarkModePreferred = window.matchMedia('(prefers-color-scheme: dark)').matches;
    
      // Set theme on page load based on localStorage or system preference
      if (currentTheme) {
        document.body.classList.toggle('dark-mode', currentTheme === 'dark');
        document.body.classList.toggle('light-mode', currentTheme === 'light');
        themeIcon.textContent = currentTheme === 'dark' ?  '☀️': '🌙' ;
      } else {
        const isDarkMode = isDarkModePreferred;
        document.body.classList.toggle('dark-mode', isDarkMode);
        document.body.classList.toggle('light-mode', !isDarkMode);
        themeIcon.textContent = isDarkMode ? '☀️': '🌙';
      }
    
      // Toggle between light and dark mode on button click
      themeToggleButton.addEventListener('click', () => {
        const isDarkMode = document.body.classList.toggle('dark-mode');
        document.body.classList.toggle('light-mode', !isDarkMode);
        themeIcon.textContent = isDarkMode ? '☀️': '🌙' ;
    
        // Save the user's theme preference in localStorage
        localStorage.setItem('theme', isDarkMode ? 'dark' : 'light');
      });
    });
    </script>           

  {%- seo -%}

</head>
