<div class="navbar">
    <a href="#downloads">Downloads</a>
    <a href="#background">Background</a>
    <a href="#overview">Overview</a>
    <a href="#usage">Usage</a>
    <a href="#evaluation">Evaluation</a>
    <a href="#verification">Verification</a>
    <a href="#license">License</a>
</div>

<div class="header">
    <div class="logoleft">
        <img src="assets/images/logo-unitn.jpg" height="100" alt="University of Trento Logo">
        <br>
        <img src="assets/images/logo-sml.png" height="100" alt="Structured Machine Learning Group Logo">
    </div>

    <div class="title">
        <h1 style="color:rgb(0, 123, 167)">rsbench: A Benchmark Suite for Systematically Evaluating<br> Reasoning Shortcuts</h1>
        <div class="author">
            <p>
                Samuele Bortolotti<sup>1</sup>,
                Emanuele Marconato<sup>2,1</sup>,
                Tommaso Carraro<sup>3,6</sup>,
                Paolo Morettin<sup>1</sup>,<br>
                Emile van Krieken<sup>4</sup>,
                Antonio Vergari<sup>4</sup>,
                Stefano Teso<sup>5,1</sup>,
                Andrea Passerini<sup>1</sup>
            </p>
            <p><small>
                <sup>1</sup>DISI, University of Trento,
                <sup>2</sup>University of Pisa,
                <sup>3</sup>Fondazione Bruno Kessler,
                <sup>4</sup>University of Edinburgh,<br>
                <sup>5</sup>CIMeC, University of Trento,
                <sup>6</sup>University of Padova
            </small></p>
        </div>
    </div>

    <div class="logoright">
        <img src="assets/images/logo-unipi.png" height="100" alt="University of Pisa Logo">
        <br>
        <img src="assets/images/logo-uniedin.png" height="100" alt="University of Edinburgh Logo">
    </div>
</div>
