<div class="navbar">
    <a href="#overview">Overview</a>
    <a href="#boia">BOIA</a>
    <a href="#architecture">Architecture</a>
    <a href="#results">Results</a>
    <a href="#download">Download</a>
</div>

<div class="header">
    <div class="logoleft">
        <img src="assets/images/logo-unitn.jpg" height="100" alt="University of Trento Logo">
        <br>
        <img src="assets/images/logo-sml.png" height="100" alt="Structured Machine Learning Group Logo">
    </div>

    <div class="title">
        <h1 style="color:rgb(0, 123, 167)">Benchmarks for Reasoning Shortcuts: <br> When Machine Learning Concepts Go Astray</h1>
        <div class="author">
            <p>
                Samuele Bortolotti<sup>1</sup>,
                Emanuele Marconato<sup>2,1</sup>,
                Tommaso Carraro<sup>3</sup>,
                Paolo Morettin<sup>1</sup>,
                Emile van Krieken<sup>3</sup>,
                Antonio Vergari<sup>3</sup>,
                Stefano Teso<sup>4,1</sup>,
                Andrea Passerini<sup>1</sup>
            </p>
            <p><small>
                <sup>1</sup>DISI, University of Trento,
                <sup>2</sup>University of Pisa,
                <sup>3</sup>Fondazione Bruno Kessler,
                <sup>3</sup>University of Edinburgh,
                <sup>4</sup>CIMeC, University of Trento
            </small></p>
        </div>
    </div>

    <div class="logoright">
        <img src="assets/images/logo-unipi.png" height="100" alt="University of Pisa Logo">
        <br>
        <img src="assets/images/logo-uniedin.png" height="100" alt="University of Edinburgh Logo">
    </div>
</div>
